@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------------
slider image styles
-------------------------------- */
.bg-primary {
  background-color: #f16521;
}
.text-primary {
  color: #f16521;
}


.slider-container {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  object-fit: cover;
}

@media (max-width: 600px) {
  .slider-container {
    height: auto;
  }
}


/* custom select */
SELECT {
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
}

/* input radio custom */
input[type="radio"]:after {
  width: 17px;
  height: 17px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
}

input[type="radio"]:checked:after {
  width: 17px;
  height: 17px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #f16521;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid #d1d3d1;
}
/* -------------------------------------------
scroll bar hidden
-------------------------------------------- */
.scrollbar_hidden::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar_hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

/* number input array hidden */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* -------------------------------
checkbox style
--------------------------------- */
input[type="checkbox"] {
  accent-color: #ccc; 
}
input[type="checkbox"]:checked {
  accent-color: #F16521; 
}

/* -------------------------------
range slider
--------------------------------- */
/* Base styles for the range input */
input[type="range"] {
  -webkit-appearance: none; /* Remove default appearance */
  width: 70%; /* Full width */
  height: 6px; /* Height of the track */
  background: #000000; /* Background color of the track */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Make it slightly transparent */
  transition: opacity 0.2s; /* Transition for smoothness */
  border-radius: 5px; /* Round the corners of the track */
}

input[type="range"]:hover {
  opacity: 1; /* Fully opaque on hover */
}

/* Styles for the thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default appearance */
  appearance: none; /* Remove default appearance */
  width: 15px; /* Width of the thumb */
  height: 15px; /* Height of the thumb */
  background: #000000; /* Thumb color */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 50%; /* Make the thumb round */
}

input[type="range"]::-moz-range-thumb {
  width: 25px; /* Width of the thumb */
  height: 25px; /* Height of the thumb */
  background: #b09d94; /* Thumb color */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 50%; /* Make the thumb round */
}


